{% extends 'base.html' %}
{% load static %}

{% block extra_title %}| Taste a new whiskey every month{% endblock %}

{% block content %}
<!-- Callout -->
<div class="container-fluid callout-container">    
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <h1 class="jumbotron-header">The finest whiskeys delivered to your doorstep.</h1>
                <hr class="block-divider block-divider--orange">
                {% if not request.user.is_authenticated %}
                <p class="lead">Sign up today to start receiving the world's best whiskeys every month.
                    <s class="d-none d-sm-inline">€19.99</s>
                    <span class="d-inline d-sm-none"><br></span>
                    <strong><mark>First one is free!</mark></strong></p>
                <a class="btn btn--red btn--cta btn-lg" href="{% url 'account_signup' %}">Sign
                    Up!</a>
                {% endif %}
                <p class="text-muted"><small>You must be over 18 to sign up to our service. Please, drink
                        responsibly.</small></p>
            </section>
        </div>
    </div>
</div>
<!-- Callout done. -->

    <!-- Quotes -->
    <div class="container-wrapper">
        <div class="container quotes-container content-container">
            <section class="quotes">
                <div class="row">
                    <div class="col-12 page-header">
                        <h2 class="text-uppercase">Quotes:</h2>
                        <hr class="block-divider block-divider--short">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="media">
                            <div class="d-none d-sm-block">
                                <img src="{{ MEDIA_URL }}girl-image.png" class="rounded-circle mr-3" height="100"
                                    width="100" alt="Jane Doe">
                            </div>
                            <div class="media-body">
                                <blockquote class="blockquote">
                                    <p>I've been introduced to more than 10 great international whiskeys I never knew
                                        about.
                                    </p>
                                    <p>- Jane Doe</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="media">
                            <div class="d-none d-sm-block">
                                <img src="{{ MEDIA_URL }}guy-image.png" class="rounded-circle mr-3" height="100"
                                    width="100" alt="John Smith">
                            </div>
                            <div class="media-body">
                                <blockquote class="blockquote">
                                    <p>I haven't been sober for months!</p>
                                    <p>- John Smith</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Quotes done; section done. -->

    <!-- Features -->
    <div class="container-wrapper container-wrapper--red">
        <div class="container features-container content-container">
            <section class="features">
                <div class="row">
                    <div class="col-12 page-header">
                        <h2 class="text-uppercase">Features:</h2>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="feature">
                            <h3><i class="fas fa-gift d-none d-sm-block"></i> Feature 1 <span
                                    class="badge badge-success">New!</span></h3>
                            <p>Description here.</p>
                            <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="feature">
                            <h3><i class="fas fa-credit-card d-none d-sm-block"></i> Feature 2</h3>
                            <p>Description here.</p>
                            <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                        </div>
                    </div>
                    <div class="col-12 d-md-none d-lg-block col-lg-4">
                        <div class="feature">
                            <h3><i class="fas fa-times-circle d-none d-sm-block"></i> Feature 3</h3>
                            <p>Description here.</p>
                            <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Features end here. -->

    <!-- Monthly Favourites -->
    <div class="container-wrapper">
        <div class="container month-fav-container content-container">
            <section class="faves">
                <div class="col-12 page-header">
                    <h2 class="text-uppercase">Monthly favorites</h2>
                    <hr class="block-divider block-divider--short">
                </div>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Origin</th>
                    </tr>
                    <tr>
                        <td>First</td>
                        <td>Japan</td>
                    </tr>
                    <tr>
                        <td>Second</td>
                        <td>Ireland</td>
                    </tr>
                    <tr>
                        <td>Third</td>
                        <td>Scotland</td>
                    </tr>
                    <tr>
                        <td>Fourth</td>
                        <td>America</td>
                    </tr>
                    <tr>
                        <td>Fifth</td>
                        <td>Ireland</td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
    <!-- Monthly favourites end here. -->
{% endblock %}