{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}| {{ user.username }}{% endblock %}

{% block content %}
<div class="container-fluid callout-container">    
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <h2 class="jumbotron-header">{{ user.username }}</h2>
                <hr class="block-divider block-divider--orange">
                <p class="text-muted"><small>You must be over 18 to sign up to our service. Please, drink
                        responsibly.</small></p>
            </section>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mt-4 mb-5">
            <h4 class="text-muted">Default Delivery Information</h4>
            <form action="{% url 'profile' %}" method="POST" class="mt-3" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn--red rounded-0 text-uppercase float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6 mt-4 mb-5">
            <h4 class="text-muted">Order History</h4>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}