{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}| {{ user.username }}{% endblock %}

{% block content %}
<div class="container-fluid callout-container">    
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <h2 class="jumbotron-header">{{ user.username }}</h2>
                <hr class="block-divider block-divider--orange">
                <p class="text-muted"><small>You must be over 18 to sign up to our service. Please, drink
                        responsibly.</small></p>
            </section>
        </div>
    </div>
</div>

Welcome to your profile, {{ user.username }}!
{% endblock %}