/* Containers */

.callout-container {
    height: 60vh;
}

/* Jumbotron */

.jumbotron h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/* misc */
.order-history {
    max-height: 416px;
    overflow-y: auto;
}